<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Diamantenmine/src/de/yaams/extensions/diamant/RunDiamant.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.yaams.extensions.diamant.RunDiamant"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/Users/abby/Documents/diamant"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Diamantenmine"/>
</launchConfiguration>
